https://pandas.pydata.org/docs/user_guide/advanced.html
MultiIndex

In [1]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [11]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
index2 = pd.MultiIndex.from_product(iterables, names=['first', 'second'])


df = pd.DataFrame([['bar', 'one'], ['bar', 'two'],
                    ['foo', 'one'], ['foo', 'two']],
                   columns=['first', 'second'])
index3 = pd.MultiIndex.from_frame(df)

index,index2,index3,index.names,index2.names,index3.names

(MultiIndex([('bar', 'one'),
             ('bar', 'two'),
             ('baz', 'one'),
             ('baz', 'two'),
             ('foo', 'one'),
             ('foo', 'two'),
             ('qux', 'one'),
             ('qux', 'two')],
            names=['first', 'second']),
 MultiIndex([('bar', 'one'),
             ('bar', 'two'),
             ('baz', 'one'),
             ('baz', 'two'),
             ('foo', 'one'),
             ('foo', 'two'),
             ('qux', 'one'),
             ('qux', 'two')],
            names=['first', 'second']),
 MultiIndex([('bar', 'one'),
             ('bar', 'two'),
             ('foo', 'one'),
             ('foo', 'two')],
            names=['first', 'second']),
 FrozenList(['first', 'second']),
 FrozenList(['first', 'second']),
 FrozenList(['first', 'second']))

In [16]:
s = pd.Series(np.random.randn(8), index=index)
s,pd.Series(np.random.randn(8), index=tuples)

(first  second
 bar    one       0.352066
        two      -0.546524
 baz    one      -0.619600
        two      -0.186632
 foo    one      -0.269892
        two       0.623128
 qux    one      -1.120308
        two      -2.552818
 dtype: float64,
 (bar, one)   -0.760380
 (bar, two)   -0.631395
 (baz, one)    1.128798
 (baz, two)   -0.693371
 (foo, one)    0.558034
 (foo, two)   -0.321044
 (qux, one)   -0.061267
 (qux, two)   -1.240957
 dtype: float64)

In [12]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

s = pd.Series(np.random.randn(8), index=arrays)
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
s,df,df.index.names
# 这里的index是没有names的

(bar  one   -0.136068
      two    0.331673
 baz  one   -0.240131
      two    0.841183
 foo  one   -0.641760
      two    0.941257
 qux  one   -1.549891
      two   -0.607452
 dtype: float64,
                 0         1         2         3
 bar one -1.621280  0.123993 -0.112288  1.179708
     two  0.600628 -0.283447  0.870304 -0.954950
 baz one  0.903041  0.426482 -0.221838 -0.415928
     two -0.265532  0.250956  1.120531  1.402767
 foo one -0.620746  0.743762  1.446092  0.861982
     two -0.114471  1.129005 -0.612530  0.622530
 qux one -1.058632 -1.512770  1.443860  0.026332
     two  0.515642 -0.770866 -1.975732 -0.110802,
 FrozenList([None, None]))

In [14]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df1 = pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])
df,df1

(first        bar                 baz                 foo                 qux  \
 second       one       two       one       two       one       two       one
 A      -1.086043  0.065821  1.327927 -1.494102 -0.764866  0.129101 -2.703912
 B      -0.672283  0.189490  0.834502 -0.423646  1.810624  0.103364 -0.937868
 C       1.185807  0.779610 -0.704381 -0.384619  0.965775  0.334218  0.537182

 first
 second       two
 A       1.799148
 B      -0.972822
 C       0.767749  ,
 first              bar                 baz                 foo
 second             one       two       one       two       one       two
 first second
 bar   one     0.018599 -1.813026 -1.072320  0.800082 -0.388628  0.544728
       two     1.047741  0.322675 -1.032180 -0.538846 -0.087843  0.656865
 baz   one     1.546953  1.144321  0.650656  1.091806  0.020930 -0.237200
       two    -1.942091 -0.698597 -1.421242  0.070362  0.420072 -0.278886
 foo   one    -1.862076  0.012617  1.484454  0.344201 -0.742504  0.374578
       two     0.951044 -0.956119 -0.714084  0.988602 -0.034763  0.278063)

In [15]:
# 注意看跟上面的输出比较
with pd.option_context('display.multi_sparse', False):
    print(df)

first        bar       bar       baz       baz       foo       foo       qux  \
second       one       two       one       two       one       two       one
A      -1.086043  0.065821  1.327927 -1.494102 -0.764866  0.129101 -2.703912
B      -0.672283  0.189490  0.834502 -0.423646  1.810624  0.103364 -0.937868
C       1.185807  0.779610 -0.704381 -0.384619  0.965775  0.334218  0.537182

first        qux
second       two
A       1.799148
B      -0.972822
C       0.767749

In [17]:
index.get_level_values(0),index.get_level_values('second')

(Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first'),
 Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second'))

In [20]:
df['bar'],df['bar', 'one'],df['bar']['one'],s['qux']

(second       one       two
 A      -1.086043  0.065821
 B      -0.672283  0.189490
 C       1.185807  0.779610,
 A   -1.086043
 B   -0.672283
 C    1.185807
 Name: (bar, one), dtype: float64,
 A   -1.086043
 B   -0.672283
 C    1.185807
 Name: one, dtype: float64,
 second
 one   -1.120308
 two   -2.552818
 dtype: float64)

In [26]:
df[['foo','qux']],\
df.columns.levels,\
df[['foo','qux']].columns.levels,df[['foo', 'qux']].columns.to_numpy(),\
df[['foo', 'qux']].columns.get_level_values(0),\
df[['foo', 'qux']].columns.remove_unused_levels().levels

(first        foo                 qux
 second       one       two       one       two
 A      -0.764866  0.129101 -2.703912  1.799148
 B       1.810624  0.103364 -0.937868 -0.972822
 C       0.965775  0.334218  0.537182  0.767749,
 FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']]),
 FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']]),
 array([('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
       dtype=object),
 Index(['foo', 'foo', 'qux', 'qux'], dtype='object', name='first'),
 FrozenList([['foo', 'qux'], ['one', 'two']]))

In [28]:
s,s[:-2],s[::2],s + s[:-2],s + s[::2]

(first  second
 bar    one       0.352066
        two      -0.546524
 baz    one      -0.619600
        two      -0.186632
 foo    one      -0.269892
        two       0.623128
 qux    one      -1.120308
        two      -2.552818
 dtype: float64,
 first  second
 bar    one       0.352066
        two      -0.546524
 baz    one      -0.619600
        two      -0.186632
 foo    one      -0.269892
        two       0.623128
 dtype: float64,
 first  second
 bar    one       0.352066
 baz    one      -0.619600
 foo    one      -0.269892
 qux    one      -1.120308
 dtype: float64,
 first  second
 bar    one       0.704133
        two      -1.093048
 baz    one      -1.239201
        two      -0.373265
 foo    one      -0.539784
        two       1.246257
 qux    one            NaN
        two            NaN
 dtype: float64,
 first  second
 bar    one       0.704133
        two            NaN
 baz    one      -1.239201
        two            NaN
 foo    one      -0.539784
        two            NaN
 qux    one      -2.240615
        two            NaN
 dtype: float64)

In [29]:
s.reindex(index[:3]),s.reindex([('foo', 'two'), ('bar', 'one'), ('qux', 'one'), ('baz', 'one')])

(first  second
 bar    one       0.352066
        two      -0.546524
 baz    one      -0.619600
 dtype: float64,
 first  second
 foo    two       0.623128
 bar    one       0.352066
 qux    one      -1.120308
 baz    one      -0.619600
 dtype: float64)

In [32]:
df,df.T,df.T.loc[('bar', 'two')],df.T.loc[('bar', 'two'), 'A']

(first        bar                 baz                 foo                 qux  \
 second       one       two       one       two       one       two       one
 A      -1.086043  0.065821  1.327927 -1.494102 -0.764866  0.129101 -2.703912
 B      -0.672283  0.189490  0.834502 -0.423646  1.810624  0.103364 -0.937868
 C       1.185807  0.779610 -0.704381 -0.384619  0.965775  0.334218  0.537182

 first
 second       two
 A       1.799148
 B      -0.972822
 C       0.767749  ,
                      A         B         C
 first second
 bar   one    -1.086043 -0.672283  1.185807
       two     0.065821  0.189490  0.779610
 baz   one     1.327927  0.834502 -0.704381
       two    -1.494102 -0.423646 -0.384619
 foo   one    -0.764866  1.810624  0.965775
       two     0.129101  0.103364  0.334218
 qux   one    -2.703912 -0.937868  0.537182
       two     1.799148 -0.972822  0.767749,
 A    0.065821
 B    0.189490
 C    0.779610
 Name: (bar, two), dtype: float64,
 0.06582111635196015)

In [33]:
df = df.T
df.loc['baz':'foo']

                     A         B         C
first second
baz   one     1.327927  0.834502 -0.704381
      two    -1.494102 -0.423646 -0.384619
foo   one    -0.764866  1.810624  0.965775
      two     0.129101  0.103364  0.334218

In [34]:
df.loc[('baz', 'two'):('qux', 'one')]

                     A         B         C
first second
baz   two    -1.494102 -0.423646 -0.384619
foo   one    -0.764866  1.810624  0.965775
      two     0.129101  0.103364  0.334218
qux   one    -2.703912 -0.937868  0.537182

In [35]:
df.loc[('baz', 'two'):'foo']

                     A         B         C
first second
baz   two    -1.494102 -0.423646 -0.384619
foo   one    -0.764866  1.810624  0.965775
      two     0.129101  0.103364  0.334218

In [36]:
df.loc[[('bar', 'two'), ('qux', 'one')]]

                     A         B         C
first second
bar   two     0.065821  0.189490  0.779610
qux   one    -2.703912 -0.937868  0.537182

In [37]:
s = pd.Series([1, 2, 3, 4, 5, 6],
              index=pd.MultiIndex.from_product([["A", "B"], ["c", "d", "e"]]))

s,s.loc[[("A", "c"), ("B", "d")]] ,s.loc[(["A", "B"], ["c", "d"])]

(A  c    1
    d    2
    e    3
 B  c    4
    d    5
    e    6
 dtype: int64,
 A  c    1
 B  d    5
 dtype: int64,
 A  c    1
    d    2
 B  c    4
    d    5
 dtype: int64)

In [38]:
# 使用切片
def mklbl(prefix, n):
     return ["%s%s" % (prefix, i) for i in range(n)]

miindex = pd.MultiIndex.from_product([mklbl('A', 4),
                                       mklbl('B', 2),
                                       mklbl('C', 4),
                                       mklbl('D', 2)])
miindex

MultiIndex([('A0', 'B0', 'C0', 'D0'),
            ('A0', 'B0', 'C0', 'D1'),
            ('A0', 'B0', 'C1', 'D0'),
            ('A0', 'B0', 'C1', 'D1'),
            ('A0', 'B0', 'C2', 'D0'),
            ('A0', 'B0', 'C2', 'D1'),
            ('A0', 'B0', 'C3', 'D0'),
            ('A0', 'B0', 'C3', 'D1'),
            ('A0', 'B1', 'C0', 'D0'),
            ('A0', 'B1', 'C0', 'D1'),
            ('A0', 'B1', 'C1', 'D0'),
            ('A0', 'B1', 'C1', 'D1'),
            ('A0', 'B1', 'C2', 'D0'),
            ('A0', 'B1', 'C2', 'D1'),
            ('A0', 'B1', 'C3', 'D0'),
            ('A0', 'B1', 'C3', 'D1'),
            ('A1', 'B0', 'C0', 'D0'),
            ('A1', 'B0', 'C0', 'D1'),
            ('A1', 'B0', 'C1', 'D0'),
            ('A1', 'B0', 'C1', 'D1'),
            ('A1', 'B0', 'C2', 'D0'),
            ('A1', 'B0', 'C2', 'D1'),
            ('A1', 'B0', 'C3', 'D0'),
            ('A1', 'B0', 'C3', 'D1'),
            ('A1', 'B1', 'C0', 'D0'),
            ('A1', 'B1', 'C0', 'D1'),
            ('A1', 'B1', 'C1', 'D0'),
            ('A1', 'B1', 'C1', 'D1'),
            ('A1', 'B1', 'C2', 'D0'),
            ('A1', 'B1', 'C2', 'D1'),
            ('A1', 'B1', 'C3', 'D0'),
            ('A1', 'B1', 'C3', 'D1'),
            ('A2', 'B0', 'C0', 'D0'),
            ('A2', 'B0', 'C0', 'D1'),
            ('A2', 'B0', 'C1', 'D0'),
            ('A2', 'B0', 'C1', 'D1'),
            ('A2', 'B0', 'C2', 'D0'),
            ('A2', 'B0', 'C2', 'D1'),
            ('A2', 'B0', 'C3', 'D0'),
            ('A2', 'B0', 'C3', 'D1'),
            ('A2', 'B1', 'C0', 'D0'),
            ('A2', 'B1', 'C0', 'D1'),
            ('A2', 'B1', 'C1', 'D0'),
            ('A2', 'B1', 'C1', 'D1'),
            ('A2', 'B1', 'C2', 'D0'),
            ('A2', 'B1', 'C2', 'D1'),
            ('A2', 'B1', 'C3', 'D0'),
            ('A2', 'B1', 'C3', 'D1'),
            ('A3', 'B0', 'C0', 'D0'),
            ('A3', 'B0', 'C0', 'D1'),
            ('A3', 'B0', 'C1', 'D0'),
            ('A3', 'B0', 'C1', 'D1'),
            ('A3', 'B0', 'C2', 'D0'),
            ('A3', 'B0', 'C2', 'D1'),
            ('A3', 'B0', 'C3', 'D0'),
            ('A3', 'B0', 'C3', 'D1'),
            ('A3', 'B1', 'C0', 'D0'),
            ('A3', 'B1', 'C0', 'D1'),
            ('A3', 'B1', 'C1', 'D0'),
            ('A3', 'B1', 'C1', 'D1'),
            ('A3', 'B1', 'C2', 'D0'),
            ('A3', 'B1', 'C2', 'D1'),
            ('A3', 'B1', 'C3', 'D0'),
            ('A3', 'B1', 'C3', 'D1')],
           )

In [39]:
micolumns = pd.MultiIndex.from_tuples([('a', 'foo'), ('a', 'bar'),
                                        ('b', 'foo'), ('b', 'bah')],
                                       names=['lvl0', 'lvl1'])
micolumns

MultiIndex([('a', 'foo'),
            ('a', 'bar'),
            ('b', 'foo'),
            ('b', 'bah')],
           names=['lvl0', 'lvl1'])

In [40]:
dfmi = pd.DataFrame(np.arange(len(miindex) * len(micolumns))
                       .reshape((len(miindex), len(micolumns))),
                     index=miindex,
                     columns=micolumns).sort_index().sort_index(axis=1)

dfmi

lvl0           a         b
lvl1         bar  foo  bah  foo
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0    9    8   11   10
         D1   13   12   15   14
      C2 D0   17   16   19   18
...          ...  ...  ...  ...
A3 B1 C1 D1  237  236  239  238
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  249  248  251  250
         D1  253  252  255  254

[64 rows x 4 columns]

In [41]:
dfmi.loc[(slice('A1', 'A3'), slice(None), ['C1', 'C3']), :]

lvl0           a         b
lvl1         bar  foo  bah  foo
A1 B0 C1 D0   73   72   75   74
         D1   77   76   79   78
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C1 D0  105  104  107  106
         D1  109  108  111  110
      C3 D0  121  120  123  122
         D1  125  124  127  126
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C1 D0  169  168  171  170
         D1  173  172  175  174
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C1 D0  201  200  203  202
         D1  205  204  207  206
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C1 D0  233  232  235  234
         D1  237  236  239  238
      C3 D0  249  248  251  250
         D1  253  252  255  254

In [42]:
idx = pd.IndexSlice
idx

In [43]:
dfmi.loc[idx[:, :, ['C1', 'C3']], idx[:, 'foo']]

lvl0           a    b
lvl1         foo  foo
A0 B0 C1 D0    8   10
         D1   12   14
      C3 D0   24   26
         D1   28   30
   B1 C1 D0   40   42
         D1   44   46
      C3 D0   56   58
         D1   60   62
A1 B0 C1 D0   72   74
         D1   76   78
      C3 D0   88   90
         D1   92   94
   B1 C1 D0  104  106
         D1  108  110
      C3 D0  120  122
         D1  124  126
A2 B0 C1 D0  136  138
         D1  140  142
      C3 D0  152  154
         D1  156  158
   B1 C1 D0  168  170
         D1  172  174
      C3 D0  184  186
         D1  188  190
A3 B0 C1 D0  200  202
         D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

In [44]:
dfmi.loc['A1', (slice(None), 'foo')]

lvl0        a    b
lvl1      foo  foo
B0 C0 D0   64   66
      D1   68   70
   C1 D0   72   74
      D1   76   78
   C2 D0   80   82
      D1   84   86
   C3 D0   88   90
      D1   92   94
B1 C0 D0   96   98
      D1  100  102
   C1 D0  104  106
      D1  108  110
   C2 D0  112  114
      D1  116  118
   C3 D0  120  122
      D1  124  126

In [45]:
dfmi.loc[idx[:, :, ['C1', 'C3']], idx[:, 'foo']]

lvl0           a    b
lvl1         foo  foo
A0 B0 C1 D0    8   10
         D1   12   14
      C3 D0   24   26
         D1   28   30
   B1 C1 D0   40   42
         D1   44   46
      C3 D0   56   58
         D1   60   62
A1 B0 C1 D0   72   74
         D1   76   78
      C3 D0   88   90
         D1   92   94
   B1 C1 D0  104  106
         D1  108  110
      C3 D0  120  122
         D1  124  126
A2 B0 C1 D0  136  138
         D1  140  142
      C3 D0  152  154
         D1  156  158
   B1 C1 D0  168  170
         D1  172  174
      C3 D0  184  186
         D1  188  190
A3 B0 C1 D0  200  202
         D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

In [46]:
mask = dfmi[('a', 'foo')] > 200
dfmi.loc[idx[mask, :, ['C1', 'C3']], idx[:, 'foo']]

lvl0           a    b
lvl1         foo  foo
A3 B0 C1 D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

In [47]:
dfmi.loc(axis=0)[:, :, ['C1', 'C3']]

lvl0           a         b
lvl1         bar  foo  bah  foo
A0 B0 C1 D0    9    8   11   10
         D1   13   12   15   14
      C3 D0   25   24   27   26
         D1   29   28   31   30
   B1 C1 D0   41   40   43   42
         D1   45   44   47   46
      C3 D0   57   56   59   58
         D1   61   60   63   62
A1 B0 C1 D0   73   72   75   74
         D1   77   76   79   78
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C1 D0  105  104  107  106
         D1  109  108  111  110
      C3 D0  121  120  123  122
         D1  125  124  127  126
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C1 D0  169  168  171  170
         D1  173  172  175  174
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C1 D0  201  200  203  202
         D1  205  204  207  206
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C1 D0  233  232  235  234
         D1  237  236  239  238
      C3 D0  249  248  251  250
         D1  253  252  255  254

In [48]:
df2 = dfmi.copy()
df2.loc(axis=0)[:, :, ['C1', 'C3']] = -10
df2

lvl0           a         b
lvl1         bar  foo  bah  foo
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0  -10  -10  -10  -10
         D1  -10  -10  -10  -10
      C2 D0   17   16   19   18
...          ...  ...  ...  ...
A3 B1 C1 D1  -10  -10  -10  -10
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  -10  -10  -10  -10
         D1  -10  -10  -10  -10

[64 rows x 4 columns]

In [49]:
df2 = dfmi.copy()
df2.loc[idx[:, :, ['C1', 'C3']], :] = df2 * 1000
df2

lvl0              a               b
lvl1            bar     foo     bah     foo
A0 B0 C0 D0       1       0       3       2
         D1       5       4       7       6
      C1 D0    9000    8000   11000   10000
         D1   13000   12000   15000   14000
      C2 D0      17      16      19      18
...             ...     ...     ...     ...
A3 B1 C1 D1  237000  236000  239000  238000
      C2 D0     241     240     243     242
         D1     245     244     247     246
      C3 D0  249000  248000  251000  250000
         D1  253000  252000  255000  254000

[64 rows x 4 columns]

In [50]:
df,df.xs('one', level='second'),df.loc[(slice(None), 'one'), :]

(                     A         B         C
 first second
 bar   one    -1.086043 -0.672283  1.185807
       two     0.065821  0.189490  0.779610
 baz   one     1.327927  0.834502 -0.704381
       two    -1.494102 -0.423646 -0.384619
 foo   one    -0.764866  1.810624  0.965775
       two     0.129101  0.103364  0.334218
 qux   one    -2.703912 -0.937868  0.537182
       two     1.799148 -0.972822  0.767749,
               A         B         C
 first
 bar   -1.086043 -0.672283  1.185807
 baz    1.327927  0.834502 -0.704381
 foo   -0.764866  1.810624  0.965775
 qux   -2.703912 -0.937868  0.537182,
                      A         B         C
 first second
 bar   one    -1.086043 -0.672283  1.185807
 baz   one     1.327927  0.834502 -0.704381
 foo   one    -0.764866  1.810624  0.965775
 qux   one    -2.703912 -0.937868  0.537182)

In [51]:
df = df.T
df.xs('one', level='second', axis=1),\
df.loc[:, (slice(None), 'one')],\
df.xs(('one', 'bar'), level=('second', 'first'), axis=1),\
df.loc[:, ('bar', 'one')],\
df.xs('one', level='second', axis=1, drop_level=False),\
df.xs('one', level='second', axis=1, drop_level=True)

(first       bar       baz       foo       qux
 A     -1.086043  1.327927 -0.764866 -2.703912
 B     -0.672283  0.834502  1.810624 -0.937868
 C      1.185807 -0.704381  0.965775  0.537182,
 first        bar       baz       foo       qux
 second       one       one       one       one
 A      -1.086043  1.327927 -0.764866 -2.703912
 B      -0.672283  0.834502  1.810624 -0.937868
 C       1.185807 -0.704381  0.965775  0.537182,
 first        bar
 second       one
 A      -1.086043
 B      -0.672283
 C       1.185807,
 A   -1.086043
 B   -0.672283
 C    1.185807
 Name: (bar, one), dtype: float64,
 first        bar       baz       foo       qux
 second       one       one       one       one
 A      -1.086043  1.327927 -0.764866 -2.703912
 B      -0.672283  0.834502  1.810624 -0.937868
 C       1.185807 -0.704381  0.965775  0.537182,
 first       bar       baz       foo       qux
 A     -1.086043  1.327927 -0.764866 -2.703912
 B     -0.672283  0.834502  1.810624 -0.937868
 C      1.185807 -0.704381  0.965775  0.537182)

In [52]:
midx = pd.MultiIndex(levels=[['zero', 'one'], ['x', 'y']],
                      codes=[[1, 1, 0, 0], [1, 0, 1, 0]])
df = pd.DataFrame(np.random.randn(4, 2), index=midx)
df

               0         1
one  y -0.456488 -0.347027
     x -1.543695  0.113849
zero y  0.476986 -2.036096
     x -0.113748  0.826455

In [53]:
df2 = df.mean(level=0)
df2

             0         1
one  -1.000091 -0.116589
zero  0.181619 -0.604820

In [54]:
df2.reindex(df.index, level=0)

               0         1
one  y -1.000091 -0.116589
     x -1.000091 -0.116589
zero y  0.181619 -0.604820
     x  0.181619 -0.604820

In [55]:
df_aligned, df2_aligned = df.align(df2, level=0)

df_aligned, df2_aligned

(               0         1
 one  y -0.456488 -0.347027
      x -1.543695  0.113849
 zero y  0.476986 -2.036096
      x -0.113748  0.826455,
                0         1
 one  y -1.000091 -0.116589
      x -1.000091 -0.116589
 zero y  0.181619 -0.604820
      x  0.181619 -0.604820)

In [57]:
df,df[:5],df[:5].swaplevel(0, 1, axis=0)

(               0         1
 one  y -0.456488 -0.347027
      x -1.543695  0.113849
 zero y  0.476986 -2.036096
      x -0.113748  0.826455,
                0         1
 one  y -0.456488 -0.347027
      x -1.543695  0.113849
 zero y  0.476986 -2.036096
      x -0.113748  0.826455,
                0         1
 y one  -0.456488 -0.347027
 x one  -1.543695  0.113849
 y zero  0.476986 -2.036096
 x zero -0.113748  0.826455)

In [58]:
df[:5].reorder_levels([1, 0], axis=0)

               0         1
y one  -0.456488 -0.347027
x one  -1.543695  0.113849
y zero  0.476986 -2.036096
x zero -0.113748  0.826455

In [59]:
df.rename(columns={0: "col0", 1: "col1"}),df.rename(index={"one": "two", "y": "z"})

(            col0      col1
 one  y -0.456488 -0.347027
      x -1.543695  0.113849
 zero y  0.476986 -2.036096
      x -0.113748  0.826455,
                0         1
 two  z -0.456488 -0.347027
      x -1.543695  0.113849
 zero z  0.476986 -2.036096
      x -0.113748  0.826455)

In [60]:
df.rename_axis(index=['abc', 'def']),\
df.rename_axis(columns="Cols").columns

(                 0         1
 abc  def
 one  y   -0.456488 -0.347027
      x   -1.543695  0.113849
 zero y    0.476986 -2.036096
      x   -0.113748  0.826455,
 RangeIndex(start=0, stop=2, step=1, name='Cols'))

In [61]:
mi = pd.MultiIndex.from_product([[1, 2], ['a', 'b']], names=['x', 'y'])
mi2 = mi.rename("new name", level=0)
mi.names,mi2

(FrozenList(['x', 'y']),
 MultiIndex([(1, 'a'),
             (1, 'b'),
             (2, 'a'),
             (2, 'b')],
            names=['new name', 'y']))

In [62]:
import random
random.shuffle(tuples)
s = pd.Series(np.random.randn(8), index=pd.MultiIndex.from_tuples(tuples))

s,s.sort_index(),s.sort_index(level=0)

(bar  one    0.208889
 qux  two   -0.454686
      one   -0.325009
 baz  one    0.038683
 bar  two   -0.879312
 foo  two   -0.616047
 baz  two    1.144065
 foo  one    0.768816
 dtype: float64,
 bar  one    0.208889
      two   -0.879312
 baz  one    0.038683
      two    1.144065
 foo  one    0.768816
      two   -0.616047
 qux  one   -0.325009
      two   -0.454686
 dtype: float64,
 bar  one    0.208889
      two   -0.879312
 baz  one    0.038683
      two    1.144065
 foo  one    0.768816
      two   -0.616047
 qux  one   -0.325009
      two   -0.454686
 dtype: float64)

In [63]:
index = pd.Index(np.random.randint(0, 1000, 10))
positions = [0, 9, 3]
index,index[positions],index.take(positions)

(Int64Index([431, 15, 702, 2, 360, 13, 77, 824, 896, 810], dtype='int64'),
 Int64Index([431, 810, 2], dtype='int64'),
 Int64Index([431, 810, 2], dtype='int64'))

In [64]:
ser = pd.Series(np.random.randn(10))
ser.iloc[positions],ser.take(positions)

(0   -0.390945
 9   -1.825447
 3    0.235944
 dtype: float64,
 0   -0.390945
 9   -1.825447
 3    0.235944
 dtype: float64)

In [65]:
frm = pd.DataFrame(np.random.randn(5, 3))
frm.take([1, 4, 3]),frm.take([0, 2], axis=1)

(          0         1         2
 1  1.946702  0.119656  1.337331
 4 -0.411943  0.100451 -2.738437
 3 -1.591880  1.368280 -0.083351,
           0         2
 0  0.990954 -1.414842
 1  1.946702  1.337331
 2 -0.375856  0.188712
 3 -1.591880 -0.083351
 4 -0.411943 -2.738437)