https://pandas.pydata.org/docs/user_guide/reshaping.html

In [1]:
import numpy as np
import pandas as pd
import pandas._testing as tm

tm.N = 3


def unpivot(frame):
    N, K = frame.shape
    data = {'value': frame.to_numpy().ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])


df = unpivot(tm.makeTimeDataFrame())
df

         date variable     value
0  2000-01-03        A -0.703408
1  2000-01-04        A  1.496032
2  2000-01-05        A -0.537587
3  2000-01-03        B -1.185259
4  2000-01-04        B -0.819760
5  2000-01-05        B  1.586029
6  2000-01-03        C -0.757629
7  2000-01-04        C -3.093847
8  2000-01-05        C  0.223290
9  2000-01-03        D -0.089609
10 2000-01-04        D -0.042019
11 2000-01-05        D  1.034959

In [2]:
df[df['variable'] == 'A']

        date variable     value
0 2000-01-03        A -0.703408
1 2000-01-04        A  1.496032
2 2000-01-05        A -0.537587

In [3]:
df.pivot(index='date', columns='variable', values='value')

variable           A         B         C         D
date
2000-01-03 -0.703408 -1.185259 -0.757629 -0.089609
2000-01-04  1.496032 -0.819760 -3.093847 -0.042019
2000-01-05 -0.537587  1.586029  0.223290  1.034959

In [6]:
df['value2'] = df['value'] * 2
pivoted = df.pivot(index='date', columns='variable')
pivoted

               value                                  value2            \
variable           A         B         C         D         A         B
date
2000-01-03 -0.703408 -1.185259 -0.757629 -0.089609 -1.406816 -2.370518
2000-01-04  1.496032 -0.819760 -3.093847 -0.042019  2.992063 -1.639520
2000-01-05 -0.537587  1.586029  0.223290  1.034959 -1.075175  3.172058


variable           C         D
date
2000-01-03 -1.515257 -0.179219
2000-01-04 -6.187693 -0.084038
2000-01-05  0.446580  2.069918

In [7]:
pivoted['value2']

variable           A         B         C         D
date
2000-01-03 -1.406816 -2.370518 -1.515257 -0.179219
2000-01-04  2.992063 -1.639520 -6.187693 -0.084038
2000-01-05 -1.075175  3.172058  0.446580  2.069918

In [8]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))


index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df2 = df[:4]

df2

                     A         B
first second
bar   one    -0.531511 -1.345879
      two     0.990284  0.305882
baz   one    -2.017711 -1.666749
      two    -0.449767 -0.055501

In [9]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.531511
               B   -1.345879
       two     A    0.990284
               B    0.305882
baz    one     A   -2.017711
               B   -1.666749
       two     A   -0.449767
               B   -0.055501
dtype: float64

In [10]:
stacked.unstack()

                     A         B
first second
bar   one    -0.531511 -1.345879
      two     0.990284  0.305882
baz   one    -2.017711 -1.666749
      two    -0.449767 -0.055501

In [11]:
stacked.unstack(1)

second        one       two
first
bar   A -0.531511  0.990284
      B -1.345879  0.305882
baz   A -2.017711 -0.449767
      B -1.666749 -0.055501

In [12]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.531511 -2.017711
       B -1.345879 -1.666749
two    A  0.990284 -0.449767
       B  0.305882 -0.055501